* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #130d50;
    display: flex;
    flex-direction: column;
}

nav {
    height: 10vh;
    width: 100%;
    background-color: #710c0c;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 0 20px;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1vh 1vw;
}

nav .right {
    gap: 0 2vw;
}

nav .right a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2vw;
    font-weight: bold;
    transition: all 0.3s ease;
}

nav .right a:hover {
    color: #ffee05;
    transform: scale(1.1);
}

.main-editar {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5vh 0;
    padding: 1vh 0;
}

.main-editar form {
    background-color: #636404;
    padding: 12vh 12vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh 0;
}

.form-edit .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group label {
    font-size: 1.2vw;
    font-weight: bold;
}

.form-group input {
    height: 5vh;
    padding: 10px;
    font-size: 1vw;
    border-radius: 5px;
}

.form-edit input[type="submit"] {
    padding: 1vh 4vw;
    font-size: 1.2vw;
    font-weight: bold;
    border-radius: 10px;
    background-color: #43eb2d;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-edit input[type="submit"]:hover {
    background-color: #a1ca97;
}

p {
    color: #fff;
    font-size: 1.5vw;
    font-weight: bold;
    font-style: italic;
}

.field-form {
    width: 30vw;
    padding: 5px;
    font-size: 1vw;
    border-radius: 5px;
}